html,
body {
    height: 100%;
    margin: 0;
    background-image: url(../images/notes.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.notes {
    display: flex;
    height: 100%;
}

.notes * {
    font-family: sans-serif;
}

.notes__list{
    position: relative;
}

.notes__sidebar {
    border-right: 2px solid var(--notes-current);
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 300px;
}

.notes__add {
    background: var(--btn-color);
    border: none;
    border-radius: 7px;
    color: var(--white-color);
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.notes__add:hover {
    background: var(--btn-color);
}

.notes__list-item {
    cursor: pointer;
}

.notes__list-item--selected {
    background: var(--notes-current);
    border-radius: 10px;
    font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
    padding: 10px;
}

.notes__small-title {
    font-size: 1.2em;
}

.notes__small-body {
    padding: 0 10px;
}

.notes__small-updated {
    color: var(--main-color);
    font-style: italic;
    text-align: right;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.notes__title,
.notes__body {
    border: none;
    outline: none;
    width: 100%;
    background-color: inherit;
}

.notes__title {
    font-size: 3em;
    font-weight: bold;
}

.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
}

.btn-delete{
    position: absolute;
    right: 10px;
    border: none;
    background-color: inherit;
    color: var(--btn-color);
    font-size: 16px;
}
.btn-delete:hover {
    color: var(--black-color);
}